.jumbotron{
 background-color: #333;
}

#customers, #descripton, #teams{
  background-color: lightgrey;
}

#test_speed, #get_started{
  background-color: blue;
}

img{
  width: 50%
}

.server{
  color: white;
  border-bottom: 1px solid white;
}

/* COMMON */
.h50{
  height: 50px;
}

.h150{
  height: 150px;
}

.h500{
  height: 500px;
}

.h1000{
  height: 1000px;
}

.mb-0{
  margin-bottom: 0;
}

.wht{
  color: white;
}
/* DEBUG:  */

.debug{
  border: 1px solid red;
}

.green{
  background-color: green;
}

.navy{
  background-color: navy;
}

.yellow{
  background-color: yellow;
}

.orange{
  background-color: orange;
}

.brown{
  background-color: brown;
}

.red{
  background-color: red;
}

.pink{
  background-color: pink;
}
