.jumbotron{
 background-image: url('../img/hero.svg');
 background-position: center;
 background-size: cover;
}

#customers, #descripton, #teams{
  background-color: #F3F5F9;
}

#test_speed, #get_started{
  background-color: #0042C0;
}

#main_content{
  color: #606E8B;
  padding: 30px;
}

.nav_logo img{
  height: 40%;
  max-height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.deploy img{
  width: 30px;
}

.nav_bar ul li{
  font-size: 2rem;
  margin: 0 10px;
}

.inverted_button{
  background-color: #fff !important;
  border: 1px solid #006AFF !important;
  color: #006AFF !important;
  font-weight: bold;
}

.ms_button{
  background-color: #006AFF !important;
  border: 1px solid #006AFF !important;
  color: #FFF !important;
  font-weight: bold;
}

.fa-bars{
  font-size: 3rem;
  color: #006AFF;
}

.hero{
  top: 175px;
}

.card{
  position: relative;
  top: 195px;
}

@media screen and (max-width: 991px) {
  .hero{
    top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .card{
    position: relative;
    top: 80px;
  }

  .hero{
    position: relative;
    top: 20px;
  }
}

.hero_title{
  font-size: 70px;
  color: #FFF;
  font-weight: bolder;
}

.hero_subtitle{
  font-size: 30px;
  color: #FFF;
  font-weight: lighter;
}

.card_header{
  background-color: lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.8rem;
  font-weight: bold;
}

.card_form{
  background-color: #FFF;
}

form{
  padding: 30px;
}

.card_bottom{
  background-color: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.for_developer img{
  width: 80%;
  max-width: 500px;
}

.chevron-left{
  right: 20px;
  color: lightgrey;
  cursor: pointer;
}

.chevron-right{
  left: 20px;
  cursor: pointer;
}

[class*=fa-circle]{
  cursor: pointer;
}

#text_dev{
  margin-top: 15px;
}

.server{
  color: white;
  border-bottom: 1px solid white;
}

.customers img{
  width: 100%;
  height: 100%;
  max-height: 100px;
}

.stories{
  font-size: 1.5rem;
  padding: 20px;
}

.right_menu li{
  border-left: 1px solid #CCCCCC;
  padding: 5px;
}

.server a{
  color: #00A9C8;
  font-weight: bold !important;
}

.last_row a{
  color: #00A9C8;
  font-weight: bold !important;
}


.box{
  width: 25%;
  height: 280px;
  max-width: 500px;
  background-color: #FFF;
  padding: 20px;
  display: inline-block;
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-top: 50px;
  margin-bottom: 20px;
}

.box > span:first-of-type{
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .box > span:first-of-type{
    font-size: 15px;
  }

}

@media screen and (max-width: 566px) {
  .box{
    width: 50%;
  }

}

 .get{
   padding: 60px;
 }

 .ms_footer{
   background-color: #031C4E;
 }

 .ms_footer > .row {
   padding-top: 60px;
 }

 .ms_footer > .row > div > img{
   vertical-align: baseline;
   margin: 0 15px 15px 0
 }

 .ms_footer > .row > div > span{
   font-size: 1rem;
   color: #CCC;
 }

 .ms_footer > .row > div > i{
   font-size: 2rem;
   letter-spacing: 1rem;
   color: #ccc;
 }

 .ms_footer > li  a{
   color: #CCC !important;
 }

/* COMMON */
.h50{
  height: 50px;
}

.h100{
  height: 100px;
}

.h150{
  height: 150px;
}

.h250{
  height: 250px;
}
.h500{
  height: 500px;
}

.h800{
  height: 800px;
}

.h1100{
  height: 1100px;
}

.mb-0{
  margin-bottom: 0;
}

.mb-30{
  margin-bottom: 30px;
}

.lh50{
  line-height: 50px;
}

.lh100{
  line-height: 100px;
}

.pr0{
  padding-right: 0;
}

.pl0{
  padding-left: 0;
}

.p5{
  padding: 5px;
}

.p20{
  padding: 20px;
}

.pt20{
  padding-top: 20px
}

.pb5{
  padding-bottom: 5px;
}

.pb20{
  padding-bottom: 20px;
}

.p30{
  padding: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

.p-relative{
  position: relative;
}

.fa-circle, .fa-circle-o{
  color: #006AFF;
}

.wht{
  color: white;
}

/* DEBUG:  */

.debug{
  border: 1px solid red;
}
